.flowers{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3rem;

  .division ,.divisi{
    border-left: 2px solid green;
  }
  .division,.divisio,.divisi{
     padding: 0rem 2rem;
  }
  @media(max-width:931px){

    .divisi{
      border-top: 2px solid green;
      border-left: none;
    } 
  }
  @media(max-width:763px){

    .division{
      border-top: 2px solid green;
      border-left: none;
    } 
  }
  @media(max-width:396px){

    .division,.divisio,.divisi{
      padding: 0rem 0.3rem;
      width: 250px;
      background-color: aqua;

      p{
        text-align: center;
      }
    } 
  }
  
  }
