.defferentoder{
    display: flex;
    flex-direction: column;
    padding: 2rem;

    table {
        border-collapse: collapse;
        // border: 1px solid black;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
      
      table, th, td {
        border-bottom: 1px solid rgba(22, 64, 33, 0.997);
        padding: 0.7rem;
        font-size: 1.5rem;
      }
      
      tr {
        border: none;
      }
      td{
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
        
        p{
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 600;
        }
      }
      th{
        background-color: rgba(22, 64, 33, 0.997);
        color: #fff;
        border-top-left-radius: 1.4rem;
        border-top-right-radius: 1.4rem;
      }
}