
.product-container{
    background-color: #F6F8FF;
    padding: 2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
}

// ------------------------------------------------------------------

.single-production{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5rem;
    

   .image-contain{
    display: flex;

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 430px;
    }
    @media(max-width:572px){
        .image{
            width: 90%
        }
    }

    .description{

        width: 400px;
         
        h1{
            text-align: left;
        }
        h3{
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
        }
        p{
            text-align: left;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h5{
           display: flex;
           align-items: center;
           font-size: 1.6rem;
           gap: 1rem;
           color: #000;
           padding: 0rem;

           h6{
            font-size: 1.6rem;
            color: green;
           }
        }
    }
    @media(max-width:572px){
        .description{
            width: 90%
        }
    }

     .calculator{
        display: flex;
        align-items: center;
        gap: 1.4rem;
        padding-top: 1.3rem;

        button{
            padding: 0.2rem 2.6rem;
            background-color: green;
            color: #F6F8FF;
            outline: none;
            border: none;
            font-size: 1.5rem;
            border-radius: 0.7rem;
        }
        @media(max-width:572px){
            button{
                padding: 0.05rem 1.5rem;
            }
        }

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
     }
   }
   @media(max-width:572px){
    .image-contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   }
   input,textarea{
     width: 100%;
   }
   .buyy{
     display: flex;
     justify-content: center;
     align-items: center;

     button{
        width: 100%;
        background-color: rgb(62, 128, 0);
        border: none;
        outline: none;
        border-radius: 1rem;
        font-size: 1.6rem;

        &:hover{
            background-color: rgb(130, 205, 60); 
        }
     }
   }

   .division{
    padding-bottom: 10px;
   }
   @media(max-width:572px){
    .oder-now{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90%;
       }
   }
  
}

.parthto{
    background-color: rgb(115, 179, 4);
    padding: 2.6rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.4rem;
    justify-content: space-around;
    align-items: center;


    .hone{
        display: flex;
        justify-content:center;
        gap: 2rem;
        align-items: center;
        padding: 0.2rem 3rem;


        .link{
            text-decoration: none;
            font-size: 1.5rem;
            color: #F6F8FF;
        }
    }
}