.home-container{
    background-image: url(../pages/good.jpeg);
    height: 65vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    height: 85vh;

h1{
    color: #000;
}
    
    .third-division{
        margin-left: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        background-color :#ddd;
        width: 100%;
        height: 65%;
        border-radius: 50%;
        border:  2px solid rgb(19, 106, 236);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .second-division{
            background-color: rgb(68, 128, 219);
            border-radius: 50%;
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;


            .first-division{
                background-color: rgba(93, 160, 5, 0.63);
                border-radius: 50%;
                width: 70%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    @media(max-width:1048px){
        .third-division{
            height: 55%;
        }
    }
    @media(max-width:786px){
        .third-division{
            margin-bottom: 1.8rem;
            margin-left: 2rem;
            margin-top: 2rem;
            width: 70%;
        }
    }
    @media(max-width:499px){
        .third-division{
            margin-bottom: 1.8rem;
            margin-left: 2.5rem;
            width: 60;
            
        }
    }

    .home{
        width: 50%;
        padding: 2rem 3rem;
        text-align: center;
        background-color: #697c9a;
        border:  1.5px solid rgb(68, 128, 219);
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 1.6rem;
            font-family: 'Courier New', Courier, monospace;
            
        }
        @media(max-width:434px){
            h1{
             font-size: 1.4rem;
            }
        }
        p{
            font-size: 1.4rem;
            font-family: 'Courier New', Courier, monospace;
            color: #fefefe;
            font-weight: 600;
            
        }
        @media(max-width:434px){
            p{
             font-size: 1rem;
            }
        }

        .linj{
             display: flex;
             justify-content: center;
             padding-top: 2rem;

             .linksa{
                text-decoration: none;
                font-family: 'Courier New', Courier, monospace;
                color: #fff;
                font-weight: 500;
             }
        }
    }
    @media(max-width:786px){
        .home{
            width: 80%;
        }
    }
    @media(max-width:786px){
        .home{
            width: 75%;
            padding: 1.4rem 2rem;
        }
    }
    @media(max-width:311px){
        .home{
            width: 70%;
            padding: 1rem 1.3rem;
        }
    }
}
@media(max-width:786px){
    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 3rem;
    }
}