.home-container{
    background-image: url(../pages/backgrund.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    .home{
        width: 40%;
        padding: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 2.8rem;
            font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
            color: rgb(38, 145, 11);
            text-align: center;
            width: 100%;
            
        }
        @media(max-width:831px){
            h1{
                font-size: 2rem;
               
               }
        }
        @media(max-width:434px){
            h1{
             font-size: 1.4rem;
            }
        }
        p{
            font-size: 1.6rem;
            font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
            color: #fefefe;
            font-weight:600;
            
        }
        @media(max-width:831px){
            p{
                font-size: 1.3rem;
               }
        }
        @media(max-width:434px){
            p{
             font-size: 1rem;
            }
        }

        .linj{
             .linksa{
                text-decoration: none;
                font-family: 'Courier New', Courier, monospace;
                color: #fff;
                font-weight: 500;
                display: flex;
                justify-content: center;
                flex-direction:column-reverse;
             }
             .musi{
                 font-size: 1.3rem;
             }
        }
    }
    @media(max-width:1012px){
        .home{
            width: 50%;
        }
    }
    @media(max-width:831px){
        .home{
            width: 65%;
            padding: 1.4rem
        }
    }
    @media(max-width:523px){
        .home{
            width: 90%;
            padding: 2rem 0rem;
        }
    }

    .awards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding-bottom: 2rem;

        .award-flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 20%;
            gap: 1rem;
            

            img{
                width: 100px;
                height: 100px;
            }
            h3{
                color: #0f0e0e;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
    
        }
    }
  
}
@media(max-width:786px){
    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 3rem;
    }
}