
.button{
    display: flex;
    justify-content: center;
    padding: 1rem;

    button{
        padding: 0.6rem  1rem;
        background-color: rgb(249, 233, 6);
        border-radius: 0.5rem;
        color: #070707;
        font-weight: 700;

        &:hover{
            background-color: rgba(239, 231, 111, 0.488);
            transform: translate(3px , -3px);
        }
    }
}