
.button{
    display: flex;
    justify-content: center;
    padding: 1rem;

    button{
        padding: 0.6rem  1rem;
        background-color: rgb(38, 145, 11);
        border-radius: 0.5rem;
        color: #fff;
        font-weight: 700;
        outline: none;
        border: none;

        &:hover{
            background-color: rgb(53, 239, 7);
            transform: translate(3px , -3px);
        }
    }
}