

.card{
    background-color: #b6caeadf;
    width: 350px;
    padding: 0;
    border-radius: 0.5rem;


    .images{
        background-color: black;
        height: 200px;
        width: 100%;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        img{
            width: 50%;
            height: 50%;
        }
    }
    h1{
        color: #fff;
        font-size: 1.6rem;
    }
    .description{
        padding: 0rem 1.4rem;
        padding-bottom: 1.5rem;

        p{
            color: #fff;

            span{
                color: rgb(3, 76, 172);
                font-weight: 700;
            }
        }

        a{
            text-decoration: none;
            font-size: 1.4rem;
        }
    }
}