
.conatct-container{
     background-color: #fbfbfcdf;
     height: 80vh;
    padding: 3rem;
     
     h2{
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: normal;
        font-size: 2rem;
     }

     .fom-conto{
        display: flex;
        justify-content: space-around;
        


          .par{
            padding: 2rem;
            width: 40%;

            p{
                font-size: 1.4rem;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 800;
                color: #4b6a9b;
            }
            @media(max-width:908px){
                p{
                    font-size: 1rem; 
                }
            }

            .icon-deff{
                display: flex;
                justify-content: space-around;

                .icon-bar{
                    width: 50px;
                    background-color: rgb(0, 38, 255);
                    height: 50px;
                    border-radius: 3px;

                    .icon{
                        width: 40px;
                        height: 40px;
                        background-color:black;
                        border-radius: 2px;


                        img{
                            width: 100%;
                        }
                    }
                }
            }
            @media(max-width:416px){
                .icon-deff{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 1rem;
                    margin-left: 2rem;
                }
            }
          }
          @media(max-width:573px){
            .par{
                width: 70%;
                padding: 0.3rem;
            }
          }

     }
     @media(max-width:573px){
        .fom-conto{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
     }

     form{
        background-color: #d5dcf2;
        padding: 2rem;
        border-radius: 0.5rem;
        width: 50%;

        h1{
            font-size: 1.4rem;
        }

        .field{
            border-bottom: 1px solid #fff;
            margin-bottom:10px ;
        }

        label input{
            width: 100%;
            border: none;
            outline: none;
            background-color: #d5dcf2;
            font-size: 15px;
            padding: 5px;
            color: #0f0e0e;
        }

        textarea{
            width: 100%;
            border: none;
            outline: none;
            background-color: #d5dcf2;
            color:#0e0e0e;
        }

        .button{
            display: flex;
            justify-content: center;

            button{
                width: 100%;
                font-size: 1.1rem;
                border-radius: 3px;
                outline: none;

                &:hover{
                    background-color: rgba(93, 160, 5, 0.63);
                }
            }
           
        }
     }
     @media(max-width:573px){
        form{
            width: 70%;
        }
    }
    @media(max-width:416px){
        .fom-conto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
@media(max-width:573px){
    .conatct-container{
        height:  auto;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.4rem;
    }
}

