
.conatct-container{
     background-color: #fbfbfcdf;
     height: 60vh;
    padding: 3rem;
     
     h2{
        text-align: center;
        font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
        letter-spacing: normal;
        font-size: 1.4rem;
        color: rgb(38, 145, 11);
     }

     .fom-conto{
        display: flex;
        justify-content: space-around;
        


          .par{
            padding: 2rem 1rem;
            width: 40%;
            padding-top: 4rem;

            @media(max-width:889px){
                h3{
                    text-align: center;
                }
            }

            p{
                font-size: 1.1rem;
                font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
                font-weight: 800;
                color: #1a1436;
            }
            @media(max-width:908px){
                p{
                    font-size: 0.5rem;
                    color: #1a1436; 
                }
            }
            .lines{
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    color: rgb(11, 84, 49);
                }
                span{
                    color: #1a1436;
                }
            }

        }
        @media(max-width:753px){
            .par{
                width: 80%;
                padding: 0.3rem;
            }
        }
        @media(max-width:477px){
            .par{
                width: 100%;
            }
         }
     }
     
     @media(max-width:573px){
        .fom-conto{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
     }

     form{
        padding: 2rem;
        border-radius: 0.5rem;
        width: 50%;

        h1{
            font-size: 1.4rem;
        }

        .field{
            border-bottom: 1px solid #4b6a9b;
            margin-bottom:10px ;
        }

        label input{
            width: 100%;
            border: none;
            outline: none;
            font-size: 15px;
            padding: 5px;
            color: #0f0e0e;
        }

        textarea{
            width: 100%;
            border: none;
            outline: none;
            color:#0e0e0e;
        }

        .button{
            display: flex;
            justify-content: center;

            button{
                width: 100%;
                font-size: 1.1rem;
                border-radius: 3px;
                outline: none;

                &:hover{
                    background-color: rgba(93, 160, 5, 0.63);
                }
            }
           
        }
     }
     @media(max-width:753px){
        form{
            width: 80%;
        }
    }
    @media(max-width:477px){
        form{
            width: 80%;
        }
    }
    @media(max-width:753px){
        .fom-conto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.3rem;
        }
    }
}
@media(max-width:753px){
    .conatct-container{
        height:  auto;
    }
}
@media(max-width:573px){
    .conatct-container{
       padding: 2rem 1rem;
    }
}

