
.containner{
    padding: 5rem 0rem;
    h1{
        color: rgb(38, 145, 11);
        padding-bottom: 3rem;
    }
    

    .flex-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-right: 3rem;

       

        .didyou{
            width: 400px;

            h2,p{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            h2{
                font-size: 1.3rem;
                color: #1a1436;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }

    }
}
