.foote-container{
    background-color: rgb(20, 59, 30);
    border-bottom: 1px solid #fff;
    padding-top: 2rem;
    

    .footbotom{
        background-color: rgb(6, 55, 19);
        padding: 1rem 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h1{
            color: #fff;
        }
    }

    .topfooter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        h2{
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .somelink{
           display: flex;
           flex-direction: column;
           
           

           .linkbotom{
            font-size: 1.3rem;
            text-decoration: none;
            color: #c9c4ef
           }
        }
    }

    
    
}