.nav-container{
    background-color: rgba(93, 160, 5, 0.63);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
    z-index: 9999;

    .logo h1{
        color: white;
    }
    @media(max-width:713px){
        .logo h1{
           font-size: 1.5rem;
        }
    }



    .links{
        display: flex;
        align-items: center;
        gap: 1rem;


        .dropdown{
            position: relative;
            display: inline-block;

            .downs{
                color: #fff;
                text-decoration: none;
                display: inline-block;
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.3rem;
                font-weight: bold;
            }
            @media(max-width:1071px){
                .downs{
                    font-size: 1rem;
                }
            }
            @media(max-width:774px){
                .downs{
                    display: none;
                }
            }

            .subdropdown{
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 0.5rem;


                .linkdown{
                    color: rgb(19, 106, 236);
                    padding: 12px 16px;
                    display: block;
                    text-decoration: none;
                    border-radius: 0.5rem;

                    &:hover{
                        background-color: #d6d1d1;
                    }
                }
            }

            &:hover .subdropdown{
                display: block;
            }

        }


        .link{
            text-decoration: none;
            font-weight: bold;
            color: #fff;
            font-size: 1.3rem;
            font-family: 'Courier New', Courier, monospace;
            padding: 0.6rem 1rem;
            border-radius: 0.5rem;


            &:hover{
                background-color: #d6d1d1;
                color: rgb(19, 106, 236);


            }
        }
        #btn{
            background-color: rgb(19, 106, 236);
            padding: 0.6rem 1.5rem;

            &:hover{
                color: #fff;
                background-color: rgb(68, 128, 219);
                transform: translate(-3px, 3px );
            }
        }
        @media(max-width:1071px){
            .link{
                font-size: 1rem;
                padding-left: 0;
            } 
        }
        @media(max-width:774px){
            .link{
                display: none;
            }
        }

        .menu-icon{
            display: none;
            color: #fff;
        }
        @media(max-width:774px){
            .menu-icon{
                display: block;
            }
        }

    }
    @media(max-width:1071px){
        .links{
            gap: 0.2rem;
        } 
    }
    
}

@media(max-width:1071px){
    .nav-container{
        padding: 1rem 1.6rem;
        
    }
}
