.nav-container{
    background-color: #4b6a9b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
    z-index: 9999;

    .logo h1{
        color: white;
    }
    @media(max-width:921px){
        .logo h1{
           font-size: 1.7rem;
        }
    }



    .links{
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo{
            display: none;
        }
        .link{
            text-decoration: none;
            font-weight: bold;
            color: #fff;
            font-size: 1.6rem;
            font-family: 'Courier New', Courier, monospace;
            padding: 0.4rem 0.8rem;
            border-radius: 0.5rem;


            &:hover{
                background-color: #d6d1d1;
                color: rgb(19, 106, 236);


            }
        }

        
        .linklogin{
            background-color: rgb(19, 106, 236);
            padding: 0.5rem 2.5rem;
            text-decoration: none;
            font-size: 1.4rem;
            color: #fff;
            border-radius: 0.5rem;

            &:hover{
                color: #fff;
                background-color: rgb(68, 128, 219);
                transform: translate(-3px, 3px );
            }
        }
        @media(max-width:1149px){
            .link{
                font-size: 1.2rem;
                padding-left: 0;
            } 
        }
        @media(max-width:921px){
            .link{
                padding: 0.4rem 0.5rem;
            }
        }
        @media(max-width:880px){
            .link{
                display: none;
            }
            .linklogin{
                display: none;
            }
        }

        .menu-icon{
            display: none;
            color: #fff;
        }
        @media(max-width:880px){
            .menu-icon{
                display: block;
            }
        }

    }
    @media(max-width:1071px){
        .links{
            gap: 0.2rem;
        } 
    }
    
}

@media(max-width:1071px){
    .nav-container{
        padding: 1rem 1.6rem;
        
    }
}

.openNav{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    background-color: #4b6a9b;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
    width: 50%;
    text-align: center;
    margin-top: 0;
    padding: 2rem;
    height: 100vh;

    .logo{
        display: block;

        .closeresp{
            display: flex;
            justify-content: right;
        }
    }
    .menu-icon{
        display: none;
        color: #fff;
    }

    .link{
        text-decoration: none;
        font-weight:500;
        color: #fff;
        font-size: 1.4rem;
        font-family: 'Courier New', Courier, monospace;
        padding: 0.6rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: left;


        &:hover{
            background-color: #d6d1d1;
            color: rgb(19, 106, 236);


        }
    }
    .linklogin{
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        text-decoration: none;
    }
    #btn{
        background-color: rgb(19, 106, 236);
        padding: 0.6rem 1.5rem;

        &:hover{
            color: #fff;
            background-color: rgb(68, 128, 219);
            transform: translate(-3px, 3px );
        }
    }

   
}
