.nav-container{
    background-color: #F6F8FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
    z-index: 9999;

   .logo{
      width: auto;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .logo img{
       width: 100px;
       height: 100px;
   }
   
   .regist{
    display: flex;
      justify-content: center;
      align-items: center;

      .closelogin{
        font-size: 3rem;
       }
   }
   .regist button{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding:  0.2rem 3rem;
      border-radius: 0.5rem;
      background-color: rgb(253, 237, 7);
      font-weight: bold;
      font-size: 1.4rem;

      &:hover{
        background-color: rgb(244, 237, 135);
      }
   }
   @media(max-width:402px){
    .regist button{
        gap: 0.2rem;
        padding: 0rem 1rem;
        font-size: 1rem;
    }
   }
}
.links{
    display: none;
 }    

@media(max-width:1071px){
    .nav-container{
        padding: 1rem 1.6rem;
        
    }
}

.openNav{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    background-color: #F6F8FF;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
    width: 20%;
    text-align: center;
    margin-top: 8rem;
    padding: 2rem;
    height: 78vh;

    .logo{
        display: block;

        .closeresp{
            display: flex;
            justify-content: right;
        }
    }
    .menu-icon{
        display: none;
        color: #fff;
    }

    .link{
        text-decoration: none;
        font-weight:500;
        color: #040404;
        font-size: 1.4rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0.6rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: left;
        border-bottom:1px solid #4b6a9b;


        &:hover{
            background-color: #d6d1d1;
            color: rgb(19, 106, 236);


        }
    }
    .linklogin{
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        text-decoration: none;
    }
    #btn{
        background-color: rgb(19, 106, 236);
        padding: 0.6rem 1.5rem;

        &:hover{
            color: #fff;
            background-color: rgb(68, 128, 219);
            transform: translate(-3px, 3px );
        }
    }

   
}
@media(max-width:839px){
    .openNav{
        width: 40%;
    }
}
@media(max-width:413px){
    .openNav{
        width: 60%;
    }
}
.login-sginup{
    background-color:#fff;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8rem;
    width: 25%;
    height: 100vh;
}
@media(max-width:1023px){
    .login-sginup{
        width: 40%;
        padding: 1rem;
    }
}
@media(max-width:1023px){
    .login-sginup{
        width: 60%;
        padding: 1rem;
    }
}
@media(max-width:438px){
    .login-sginup{
        width: 80%;
        padding: 1rem;
    }
}
@media(max-width:327px){
    .login-sginup{
        width: 100%;
        padding: 1rem;
    }
}
.login-sginup .chosehead{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0rem 3rem;
    padding-bottom: 0px;
}
@media(max-width:1023px){
    .login-sginup .chosehead{
        padding: 0rem 1.5rem;
    }
}
 .chosehead span{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
}
.chosehead p{
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
    border-bottom:0.5px solid #4b6a9b;
}
