.table-container{
    
    width: 100%;
    border-radius: 0.5rem;
    
    



    .navtable{
        background-color: rgba(22, 64, 33, 0.997);
        padding: 3px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        text-align: center;

        h2{
            color: #f6f8ff;
        }

    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      table, th, td {
        border: 1px solid black;
      }
      
      tr {
        border: none;
      }

   
}